Intermediate/Build/Win64/
Binaries/
Saved/
*.sdf
*.suo
Intermediate/Build/*.pdb
Build/Unused/
*.bin
*.pdb
Intermediate/Build/BuildRules/DemolitionEditorModuleRules.pdb
Intermediate/Build/Unused/Demolition.log
Intermediate/CachedAssetRegistry.bin
Demolition.sdf
Demolition.v12.suo
Demolition.opensdf
Demolition.sdf
Intermediate/Build/Unused/Demolition.log
Intermediate/CachedAssetRegistry.bin
Intermediate/Build/BuildRules/DemolitionProjectFileGeneratorModuleRules.dll
Intermediate/Build/BuildRules/DemolitionProjectFileGeneratorModuleRules.pdb
Intermediate/Build/Unused/Demolition.log
Intermediate/Build/Win64/Demolition/DependencyCache.bin
Demolition.v12.suo
Demolition.sdf
Intermediate/CachedAssetRegistry.bin
Intermediate/ProjectFiles/Demolition.vcxproj